
/* Estilo para el botón de ingresar ventana Login*/
.boton-ingresar {
    -fx-background-color:  #bbb3b3;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 13;
    -fx-font-family: 'Helvetica Rounded';
    -fx-font-size: 14;
}
.boton-ingresar:pressed{
    -fx-background-color:  #bbb3b3;
}
.boton-ingresar:hover{
    -fx-background-color:  #bbb3b3;
}


