.custom-password-field {
    -fx-background-color: transparent; /* Establece el fondo transparente */
    -fx-border-color: black; /* Color del borde */
    -fx-border-width: 0 0 5 0; /* Grosor del borde (top right bottom left) */
}



